.container{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: rgb(158, 158, 210);
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding-top: 50px;
    color: white;
}
#clock{
    font-size: 50px;
    width: 70%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 45px;
    padding-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #a71629
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url('../img/alarm_clock.png') no-repeat;
    background-size: 100%;
    margin-top: 50px;
}
#hour,
#minute,
#second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}
 
#hour {
    width: 1.8%;
    height: 16%;
    top: 40%;
    left: 48.85%;
    background: black;
}
 
#minute {
    width: 1.6%;
    height: 25%;
    top: 31%;
    left: 48.9%;
    background: black;
}
 
#second {
    width: 0.7%;
    height: 31%;
    top: 25%;
    left: 49.60%;
    background: rgb(252, 3, 3);
}